@mixin commentStyles {
    border-radius: 14px 0 14px 14px;
    padding: 18px 16px;
    background: $comment-background-color;

    &__data {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(116, 116, 116, 0.1);
        padding-bottom: 10px;
    }

    &__text {
        line-height: 140%;
        margin-top: 10px;
        font-size: 14px;
        color: $text-mainFilter-color;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    &__ansCount {
        color: $text-docComments-blue;
        font-size: 14px;
        line-height: 140%;
    }

    &__userData {
        color: $text-grey;
        font-weight: 500;
    }

    &__moreBtn {
        text-decoration: underline;
        color: $text-grey;
        font-weight: 500;
    }
}


.main {
    display: flex;
    color: $text-mainFilter-color;
    font-family: $fontName;
    gap: 20px;
    align-items: start;
    // display: inline-block;

    &__filtres {
        font-size: 16px;
        padding: 30px 20px;
        background: $simple-white;
        border-radius: 18px;
        max-width: 335px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__search {
        display: flex;
        background: $comment-background-color;
        justify-content: space-between;
        border: none;
        outline: none;
        padding: 17px 20px;
        border-radius: 12px;
    }

    ;
}

.filtres {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__h {
        font-size: 20px;
        font-weight: 500;
    }

    &__resetBtn {
        background: none;
        border: none;
        outline: none;
        display: flex;
        gap: 8px;
        font-weight: 500;
        font-size: 14px;
        font-family: $fontName;
        color: $filter-reset-button;
        cursor: pointer;
    }
}

.search {
    &__input {
        outline: none;
        border: none;
        background: none;
        font-size: 14px;
        color: $text-grey;
        font-family: $fontName;

    }
}

.doc {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__details {
        display: flex;
        gap: 12px;
    }

    &__checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-color: $text-grey;
        border: solid 20px $text-grey;
    }

    &__comQuantity {
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        color: $text-grey;

        &--active {
            color: $text-docComments-blue;
        }
    }

}



.recmndtns {
    width: 100%;
    font-family: $fontName;

    &__header {
        align-items: end;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    &__totalCount {
        color: $text-grey;
    }

    &__searchBar {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        line-height: 130%;
    }

    &__commSection {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 34px;
    }
}

.recTitle {
    &__headbar {
        font-size: 50px;
        letter-spacing: -0.02em;
        line-height: 105%;
    }

    &__sortBtn {
        font-family: $fontName;
        background: none;
        border: none;
        outline: none;
        display: flex;
        padding: 20px 40px;
        gap: 8px;
        white-space: nowrap;
        background: $simple-white;
        border-radius: 12px;
    }
}

.searchTerm {
    &__input {
        font-family: $fontName;
        border: none;
        outline: none;
        padding: 28px 30px;
        color: $text-grey;
        width: 100%;
        border-radius: 16px;
        font-size: 16px;
    }

    &__searchBtn {
        font-size: 16px;
        font-family: $fontName;
        display: flex;
        gap: 12px;
        border: none;
        outline: none;
        background: $text-docComments-blue ;
        padding: 30px 60px;
        color: $simple-white;
        border-radius: 16px;
    }
}



.helpData {
    &__qstionDate {
        font-size: 14px;
        line-height: 140%;
        font-weight: 300;
    }

    &__ansCount {
        font-weight: 500;
    }
}

.comment {
    overflow: hidden;
    font-family: $fontName;
    background: $simple-white;
    border-radius: 18px;
    
    &__header {
        color: $simple-white;
        display: flex;
        justify-content: space-between;
        padding: 17px 24px;
        background: $comment-gradient;
    }

    
    &__ansWrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px 18px 17px 18px    ;

    }
    
    
}


.showAll{
    padding: 20px 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background: $comment-background-color;
    border: none;
    outline: none;
    border-radius: 12px;
    color: $text-grey;
    width: 100%;
    
    cursor: pointer;
    
    &__text{
        font-family: $fontName;
        font-size: 14px;
        font-weight: 500;
        
    }

    &__svg{
        transition: 0.5s ease;
        &--rotateUp{
            // transition: 0.5s ease;
            // display: inline-fle;
            transform: rotateZ(180deg);
        }
    }
}

.user {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    align-items: start;
    
    &__ava {
        padding: 20px;
        background-color: $user-ava-male;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        
        &--female{
            background: $user-ava-female;
        }
    }
}

.question {
    @include commentStyles;
}


.answerer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: start;
    margin-bottom: 10px;

    &__wrapper{
        // margin-bottom: 24px;
        max-height: 140px;
        overflow: hidden;
        transition: max-height 1s ease;
        
        &--opened{
            max-height: 500px;
            transition: max-height 1sec ease;
            
            @media (max-height > 250px ) {
                overflow:visible;   
            }
        }
        
    }
}

.docAvatar {
    line-height: 0;
    background: linear-gradient($simple-white, $simple-white) padding-box, $comment-gradient border-box;
    border-radius: 50%;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;



    &__img {


        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.answer {
    @include commentStyles;
    align-items: start;
    background: $text-docComments-blue;
    padding: 20px 16px;
    border-radius: 0 14px 14px 14px;
    color: $simple-white;
    
    &__ansDoc {
        font-size: 16px;
        font-weight: 500;
    }
    
    &__docDate {
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
    }
    
    &__wrapper{
        display: flex;
        align-items: baseline;
    }
    
    &__text {
        display: -webkit-inline;
        -webkit-box-orient:block-axis;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;

        background: #000;

        &--full{
            -webkit-line-clamp: unset;
        }
        position: relative;

        color: $simple-white;
        font-size: 14px;
        font-weight: 300;
    }

    &__moreBtn {
        white-space: nowrap;
        // position: absolute;
        color: $simple-white;
        bottom: 0;
        right: 0;
        background: $text-docComments-blue ;
        background-clip:content-box;

        &--nearSided{
            position: static;
        }

        // background: $simple-white border-box, $text-docComments-blue padding-box;
        // width: 50%;
        // text-align: right;
        // padding-left: 75px;
        // opacity: 0.5;
    }
}