.main{
    display: flex;
    color: $text-mainFilter-color;
    font-family: $fontName;
    gap: 20px;
        // display: inline-block;
    
    &__filtres{
        font-size: 16px;
        padding: 30px 20px;
        background: #fff;
        border-radius: 18px;
        max-width: 335px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__search{
        display: flex;
        background: #F8F8F8;
        justify-content: space-between;
        border: none;
        outline: none;
        padding: 17px 20px;
        border-radius: 12px;
    };

    &__recComments{
        
    }

}

.filtres{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items:end;
    }

    &__h{
        font-size: 20px;
        font-weight: 500;
    }

    &__resetBtn{
        background: none;
        border: none;
        outline: none;
        display: flex;
        gap: 8px;
        font-weight: 500;
        font-size: 14px;
        font-family: $fontName;
        color: #DE303A;
        cursor: pointer;
    }
}

.search{
    &__input{
        outline: none;
        border: none;
        background: none;
        font-size: 14px;
        color: $text-grey;
        font-family: $fontName;

    }
}

.doc{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
     
    }

    &__details{
        display: flex;
        gap: 12px;
    }

    &__checkbox{
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-color: $text-grey;
        border: solid 20px $text-grey;
    }

    &__comQuantity{
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        color: $text-grey;
        
        &--active{
            color: $text-docComments-blue;
        }
    }

}



.recmndtns{
    width: 100%;
    font-family: $fontName;
    &__header{
        align-items: end;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    
    &__totalCount{
        color: $text-grey;
    }
    
    &__searchBar{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        line-height: 130%;
    }
}

.recTitle{
    &__headbar{
        font-size: 50px;
        letter-spacing: -0.02em;
        line-height: 105%;
    }
    
    &__sortBtn{
        font-family: $fontName;
        background: none;
        border: none;
        outline: none;
        display: flex;
        padding: 20px 40px;
        gap: 8px;
        white-space: nowrap;
        background: #fff;
        border-radius: 12px;
    }
}

.searchTerm{
    &__input{
        font-family: $fontName;
        border: none;
        outline: none;
        padding: 28px 30px;
        color: $text-grey;
        width: 100%;
        border-radius: 16px;
        font-size: 16px;
    }
    
    &__searchBtn{
        font-size: 16px;
        font-family: $fontName;
        display: flex;
        gap: 12px;
        border: none;
        outline: none;
        background: $text-docComments-blue ;
        padding: 30px 60px;
        color: $simple-white;
        border-radius: 16px;
    }
}