@import '../../assets/base.scss';

.nav {
    padding-top: 20px;
    color: #000;
}

.webSettings {
    display: flex;
    justify-content: space-between;
}

.curLocation {
    display: flex;
    align-items: center;
    gap: 15px;

    &__btn {
        font-family: $fontName;
        background: none;
        outline: none;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 12px;

    }
}


.webLanguage {
    display: flex;
    gap: 12px;
    font-size: 16px;

    &__changeLang {
        font-family: $fontName;
        display: flex;
        gap: 5px;
    }

    &__txt {
        font-family: $fontName;
        color: #747474;
        font-size: 16.5px;
    }

    &__btn {
        font-family: $fontName;
        font-size: 16px;
        border: none;
        outline: none;
        background: none;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }
}


.panel {
    font-family: $fontName;
    display: flex;
    // justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    align-items: center;

    &__info {
        background: #fff;
        display: flex;
        align-items: center;
        padding: 19px 22px;
        gap: 20px;
        color: #747474;
        font-size: 14px;
        border-radius: 16px;

        max-width: 425px;
        width: 100%;
    }
}

.logo {
    display: flex;
    gap: 20px;
}

.catalog {
    font-family: $fontName;
    font-weight: 500;
    border-radius: 16px;
    border: none;
    outline: none;
    background: #0129E3;
    padding: 30px 60px;
    font-size: 16px;
    color: #fff;
    display: flex;
    gap: 12px;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    &__drpdwn {
        display: none;
        // display: inline-block;
        // opacity: 0;
        // transition: opacity 0.3s ease;
    }

    //the hidden arrow appearing effect, initially hidden in figma project

    // &:hover {
    //     .catalog__drpdwn {
    //         opacity: 1;
    //     }
    // }
}

.getInfo {
    display: flex;
    background: #fff;
    border-radius: 16px;
    padding: 30px 62px;
    gap: 26px;
    color: $text-grey;
    font-weight: 500;

    &__option {
        white-space: nowrap;
        cursor: pointer;
    }
}

.signIn {
    display: flex;
    gap: 5px;
    font-family: $fontName;
    font-weight: 500;
    color: #0129E3;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 30px 60px;
    font-size: 16px;
    cursor: pointer;
}


.infoSlide {
    margin: 15px auto 0 auto;
    text-align: center;
    background: linear-gradient(to right,#379FF2 2%, #022FE4 91%);
    border-radius: 26px;
    padding: 70px 30px 40px 30px;
    color: #fff;
    font-family: $fontName;
    margin-bottom: 85px;
    position: relative;

    &__bgImg{
        width: 500px;
        height: 500px;
        overflow: hidden;
        position: absolute;
        right: 15px;
        top: 0;             //I referred to the initial image without any effects so 
                            // just in case if it could be used for effects 
        z-index: 0;
        margin-top: -60px;
        opacity: 0.07;
        transform: rotateZ(24deg);
    }

    &__serviceName{
        display: inline-block;
        font-size: 14px;
        padding: 10px 20px;
        border: solid #fff 1px;
        border-radius: 200px;
        margin-bottom: 15px;
    }
    
    &__servicePromote{
        font-size: 60px;
        line-height: 105%;
        letter-spacing: -0.025em;
        font-weight: 500;
        margin-bottom: 60px;
    }
}

.references{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    
    &__card{
        max-width: 291px;
        width: 100%;
        padding: 30px 0;
        background: #fff;
        border-radius: 16px;
        color: #000;
        font-size: 16px;
    }
}

.reference{
    display: flex;
    justify-content: center;
    gap: 12px;
}


.facilities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    &__card{
        // font-family: $fontName;
        background: rgb(255, 255, 255, 0.15);
        border: solid 1px rgb(255, 255, 255, 0.5);
        border-radius: 20px;
        // padding: 26px 0 26px 24px;
        padding: 26px 24px;
        max-width: 324px;
        width: 100%;
        text-align: left;
    }
    
    &__numberOf{
        font-size: 50px;
        line-height: 102%;
        word-spacing: 0.025em;
        margin-bottom: 8px;
    }
    
    &__desc{
        font-size: 16px;
        line-height: 130%;
        white-space: nowrap;
    }
}