:root {
  --vt-c-white: #ffffff;
  --text-grey: #747474;
 
}


$text-grey: #747474;
$fontName: 'SF-Pro-Text';

$text-mainFilter-color: #050B2B;
$text-docComments-blue: #0129E3;
$simple-white: #fff;
$comment-background-color:#F8F8F8;
$comment-gradient:linear-gradient(135deg, #379FF2 2%, #022FE4 91%);
$user-ava-male: #1760D7;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, ol{
  list-style: none;
  color: inherit;
}

.container{
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}


$sf-text-weights: (300, 400, 500, 600, 700);
@each $weight in $sf-text-weights {
  @font-face {
    font-family: $fontName;
    font-weight: $weight;
    src: url(../assets/fonts/SF-Pro-Text/SF-Pro-Text-#{$weight}.otf);
  };
}


