*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}


$fontName: 'SF-Pro-Text';
$fontNameDisplay: 'SF-PRO-DISPLAY';

$text-grey: #747474;
$text-darkBlue-color: #050B2B;
$text-lightBlue-color: #0129E3;
$simple-white: #fff;
$skinnish-white-color: #F8F8F8;

$comment-gradient: linear-gradient(135deg, #379FF2 2%, #022FE4 91%);
$filter-reset-red-button: #DE303A;
$user-ava-male: #1760D7;
$user-ava-female: #FF3E68;

$sf-font-weights: (300,400,500,600,700);
$sf-font-display-weights: (400,500,700);


@each $weight in $sf-font-weights {
  @font-face {
    font-family: $fontName;
    font-weight: $weight;
    src: url(../assets/fonts/SF-Pro-Text/SF-Pro-Text-#{$weight}.otf);
  }
}

@font-face {
  font-family: 'fontAn';
  // font-weight: 500;
  src: url(../assets/fonts/WordForSword/Multicolore-Pro.otf);
}

@each $weight in $sf-font-display-weights {
  @font-face {
    font-family: $fontNameDisplay;
    font-weight: $weight;
    src: url(../assets/fonts/sf-pro-display/SF-PRO-DISPLAY-500.OTF);
  }
}